@tailwind base;
@tailwind components;
@tailwind utilities;


.outlinedText{
  color: white;
  text-shadow:
   -1px -1px 0 #676767,  
    1px -1px 0 #676767,
    -1px 1px 0 #676767,
     1px 1px 0 #676767;
}
:root {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 255,255,255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255,255,255;
    --background-end-rgb: 255,255,255;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background:white
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*:focus {
  outline: none !important;
}

.rounded-lg {
  border-radius: 20px;
}

.fcol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  
}
.frow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.menuItems {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 0.75rem;
  height: 45px;
  width: 90%;
  border-radius: 8px;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;

  
}

:hover.menuItems {
  --tw-bg-opacity: 1;
  background-color: rgb(235 245 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(63 131 248 / var(--tw-text-opacity));
  --tw-shadow-color: #d1d5db;
  --tw-shadow: var(--tw-shadow-colored);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
}
.activeMenu {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 0.75rem;
  height: 45px;
  width: 90%;
  border-radius: 8px;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;

  --tw-bg-opacity: 1;
  background-color: rgb(235 245 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(63 131 248 / var(--tw-text-opacity));
  --tw-shadow-color: #d1d5db;
  --tw-shadow: var(--tw-shadow-colored);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  
}
.column-buttons-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white; /* Adjust as needed */
  padding: 10px 0; /* Adjust padding as needed */
}

.button-container {
  
    position: sticky;
    top:0;
    z-index:10;
}

.flowbite-footer{
  position: static;
  display: flex;
  justify-content: center;
  align-content: center;
}

.lilMenuItems {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height:45px;
  width:45px;
  gap: 0.75rem;
  font-size: 0.875rem /* 14px */;
  line-height: 30px /* 20px */;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
:hover.lilMenuItems {
  --tw-bg-opacity: 1;
  background-color: rgb(235 245 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(63 131 248 / var(--tw-text-opacity));
  --tw-shadow-color: #d1d5db;
  --tw-shadow: var(--tw-shadow-colored);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


.lilActiveMenu {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 0.75rem;
  height: 45px;
  width: 45px;
  border-radius: 8px;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;

  --tw-bg-opacity: 1;
  background-color: rgb(235 245 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(63 131 248 / var(--tw-text-opacity));
  --tw-shadow-color: #d1d5db;
  --tw-shadow: var(--tw-shadow-colored);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  
}


@media (max-width: 920px) {
  .grid-container {
    overflow-x: auto;
    white-space: nowrap; /* Prevents buttons from wrapping to the next line */
  }
}

/* .menu-transition-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.menu-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 150ms ease, transform 150ms ease;
} */

/* .menu-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.menu-transition-exit-active {
  opacity: 0;
  transition: opacity 150ms ease;
} */




